/* main.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile{
  text-align: center;
}
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F0F8FF; /* Ganti dengan warna latar belakang yang Anda suka */
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: #9a0909; /* Ganti dengan warna latar belakang yang Anda suka */
    color: #831717;
    padding: 10px 0;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  /* Header Styles */
  h1 {
    font-size: 36px;
    margin-top: 20px;
  }
  
  h5 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  /* Table Styles */
  /* Mengubah Warna Tabel */
  /* Membuat container untuk tabel */
.table-container {
  display: flex;
  justify-content: center; /* Untuk mengatur ke tengah horizontal */
  margin: 70px; /* Menambahkan margin di samping tabel */
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  border-radius: 10px;
}

th {
  background-color: #96D4D4;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #E0E0E0;
}

td {
  color: #333;
}
  
  /* Button Styles */
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 25px; /* Meningkatkan nilai border-radius */
    cursor: pointer;
    margin-top: 10px;
  }

  button:hover {
      background-color: #0056b3;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #333; /* Ganti dengan warna latar belakang yang Anda suka */
    color: #fff;
    text-align: center;
    padding: 20px
  }

  .user-details {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details .detail {
    margin-bottom: 10px;
}

.user-details h5 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.user-details p {
    font-size: 16px;
    color: #666;
    margin: 0;
}

  