{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  

<div class="login" style="background-color: #6C63FF; padding: 10px; border-radius: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 500px; text-align: center;">
    
    <h1 style="font-size: 24px; margin-bottom: 20px; color: #333;">Register</h1>  

    <form method="POST">  
        {% csrf_token %}  
        <table style="width: 100%;">  
            {{ form.as_table }}  
            <tr>  
                <td></td>
                <td><input style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; width: 100%;" type="submit" name="submit" value="Daftar"/></td>  
            </tr>  
        </table>  
    </form>

    {% if messages %}  
        <ul style="list-style-type: none; padding: 0;">   
            {% for message in messages %}  
                <li style="color: #333;">{{ message }}</li>  
            {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}
